.navbar {
  grid-area: nav;

  &__link {
    padding: 10px 20px;
    transition: all 0.3 ease-in-out;

    a {
      color: rgb(69, 189, 230);
      text-decoration: none;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: rgb(106, 106, 255);
      }

      &.active {
        color: rgb(10, 52, 241);
      }
    }
  }
}
