.app-wrapper {
  display: grid;
  width: 1170px;
  margin: 0 auto;

  grid-template-areas:
    "h h"
    "n c";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.app-logo {
  pointer-events: none;
}

.header {
  grid-area: h;
}

.navigation {
  grid-area: n;
}

.content {
  grid-area: c;
}

.content img {
  object-fit: cover;
  width: 100%;
  height: 200px;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: app-logo-spin infinite 20s linear;
  }
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}